/* setting the whole web page to black */
body{ 
    background-color: #000000;
    
}

.developer{
    display: flex;
    align-items: center;
    border-color:  #87ceeb;
    background-color: #436775;
    color: #87ceeb;
    text-align: center;
    border-width: medium;
    border-style: solid;
    margin: 10px;



}



/* Main Heading parameters */



/* This Portfolio class is set for background to the main */
.portfolio{
    background-color: #000000;
}
/* Avatar parameters */
#avatar{
    background-color: #436775;
    border-color:  #87ceeb;
    border-style: solid;
    border-width: medium;
    margin: 0 auto;
    display: block
}

.nav{}

.nav li{
    display: inline;
    color: #87ceeb;

}
/* Navigation links parameters */
.nav ul li a{
    color: #87ceeb;
    border-color:  #87ceeb;
    border-style: solid;
    border-width: light;
    position: relative;
    left: 350px;

}

a:hover{

}

.aboutMe{
    display: flex;

    margin: 10px;
    background-color: #436775;
    border-color:  #87ceeb;
    border-style: solid;
    border-width: medium;
    padding: 20px;
    
    align-items: center;

}

.aboutMe h2{
    border-color: #87ceeb;
    margin: 10px;

}

.aboutMe img{
    border-style: solid;
    border-width: medium;
    border-color: #87ceeb;
    margin: 10px;


}

.aboutMe p{
    padding: 10px;
    width: 100%;

}

h2{
    color: #87ceeb;
}

p{
   color: #87ceeb;
   margin: 10px;
   width: 300px;


}

.myProjects{
    background-color:#436775;
    border-color:  #87ceeb;
    border-style: solid;
    border-width: medium;
    padding: 20px;
    
}

.myProjects ul li a{
    color:#87ceeb;

}

.contactMe{
    background-color: #436775;
    border-color:  #87ceeb;
    border-style: solid;
    border-width: medium;
    padding: 20px;

}

.contactMe ul li{
    color: #87ceeb;
}

.contactMe ul li a{
    color: #87ceeb;
    
}